html{
    background-color: white;
    color: black;
    font-family: 'Noto Sans';
}

/* .main{
    text-align: center;
} */

h1{
    text-align: center;
    margin-bottom: 2rem;
}

body{
    margin-top: 4rem;
}

