/* html{
    margin-top: 50px;
    background-color: white;
    color: black;
    font-family: 'Noto Sans';
} */

/* .main{
    text-align: center;
} */

h1{
    text-align: center;
}

body{
    margin-top: 4rem;
}